@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);


// Colors
$smooth-grey: #7b7b7b;

// Fonts
$main-serif: "Playfair Display";


// Generalised
$main-text-color: black;
$main-text-font: $main-serif;
$idle-text-color: $smooth-grey;


