$delete-challenge-button-radius: 3em;
$delete-challenge-button-margin: 0.3em;
.deletechallenge-component {

  $num-buttons-per-line: 3;
  .button-container {
    width: ($delete-challenge-button-radius + $delete-challenge-button-margin) * 4;
    margin: 0 auto;
  }
  .hint {
    text-align: center;
  }

}
