.deletechallenge-component {
  $button-radius: 3em;
  $button-margin: 0.3em;
  $num-buttons-per-line: 3;
  .button-container {
    width: ($button-radius + $button-margin) * 4;
    margin: 0 auto;
  }
  .hint {
    text-align: center;
  }

}
