@import '../shared/placeholder-polyfill';
@import './FlipCard';
.initnewwhiteboarditem-component {
  .creation-form {
    display: none;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    .creation-control {
      text-align: center;
      padding-top: 1em;
    }
    .creation-text textarea {
      width: 100%;
      height: 10em;

      @include placeholder-polyfill {
        color: grey;
      }
    }
  }
  .plus {
    $plus-circle-radius: 190px;
    width: $plus-circle-radius;
    height: $plus-circle-radius;
    line-height: $plus-circle-radius * 0.9;
    border-radius: $plus-circle-radius;
    margin: 30px auto;
    font-size: 10em;
    border: 1px solid grey;
    color: grey;
    text-align: center;
    opacity: 0.7;
    $hover-transition-time: 0.7s;
    $radius-transition-time: 0.3s;
    transition: border $hover-transition-time, opacity $hover-transition-time, color $hover-transition-time, height $radius-transition-time, width $radius-transition-time, line-height 0.2s;
    cursor: pointer;
    &:hover {
      $hover-color: #00BBD3;
      border: 1px solid $hover-color;
      opacity: 1;
      color: $hover-color;
    }
  }


  &.editing {
    .plus {
      display: none;
      cursor: inherit;
    }
    .creation-form {
      display: block;
    }
  }
}
