@import "../DeleteChallenge";

.challengebutton-component {

    width: $delete-challenge-button-radius;
    height: $delete-challenge-button-radius;
    border-radius: $delete-challenge-button-radius;
    line-height: $delete-challenge-button-radius;

    margin: $delete-challenge-button-margin;

    background-color: white;
    border: 1px solid silver;
    color: grey;

    text-align: center;
    display: inline-block;

    cursor: pointer;
    &:hover {
      background-color: #e8e8e8;
      transition: background-color 0.5s;
  }
  &.clicked {
    background-color: red;
    &.willTrigger {
      background-color: #f0fff0;
    }
  }
}
