@import "whiteboarding/WhiteboardCard";
@import "whiteboarding/Button";
@import "whiteboarding/TextArea";
@import "whiteboarding/functions";

$whiteboard-item-width: 400px;

.whiteboard-item-animation-enter {
  width: 0px !important;
}

.whiteboard-item-animation-enter.whiteboard-item-animation-enter-active {
  width: $whiteboard-item-width !important;
  @include transition(width 500ms ease-in);
}

.whiteboard-item-animation-leave {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: 0;
  @include transition(width 500ms ease-in);
  * {
    display: none;
  }
}

.whiteboard-item-animation-leave.whiteboard-item-animation-leave-active {
  width: 0px;
  opacity: 0;
}
